apiVersion: memcached.c5c3.io/v1alpha1
kind: Memcached
metadata:
  labels:
    app.kubernetes.io/name: memcached-operator
    app.kubernetes.io/managed-by: kustomize
  name: memcached-dev
spec:
  replicas: 1
